.search-section {
    background: linear-gradient(rgba(130, 113, 157, 0.8),
    rgba(130, 113, 157, 0.8)), url(../images/patrik-gothe-444.jpg) no-repeat 100%/ cover;
    text-align: center;
    padding: 20px 0;
}

.search-section .content {
    width: 700px;
}

.search-section .labels h2 {
    font-size: 0.8em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 10px;

}

.labels {
    margin-bottom: 10px;
}

.search-section .labels-list {
    margin-left: -20px;
}

.search-section .label {
    display: inline-block;
    padding-left: 6px;
    margin-bottom: 10px;
}

.search-section .label a {
    display: inline-block;
    padding: 8px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.6em;
    text-transform: capitalize;
    transition: all .3s ease;
}

.search-section .label a:hover {
    background: #fff;
    color: #999;
}

form {
    padding: 20px 0;
}

form h2 {
    color: #fff;
    margin-bottom: 16px;
}

form input {
    width: 90%;
    padding: 12px;
    background: #fff url(../images/search.png) no-repeat 6px 10px;
    padding-left: 30px;
    background-size: 20px 20px;
    border: none;
    caret-color: #82719D;
}

input:focus {
    outline: none;
}

form input::placeholder {
    color: #ccc;
    text-transform: capitalize;
}